body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: row;
}

.background {
    background-image: url(plant.jpg);
    width: 40vw;
    color: #fff
}

.image-container {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20%;
    padding-left: 0vw;
    display: flex;
    flex-direction: column;
    font-size: large
}

.image-container img {
    width: 10vw;
    padding-left: 5vw;
    opacity: 1;
}

a {
    color: #fff
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eaedf0;
    width: 100%
}

label {
    position: relative;
    display: inline-block;
}

.form-row label {
    width: 100%;
    
}

section {
    padding: 5;
}

.signup-form {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
}