@font-face {
    font-family: 'NorseBold';
    src: url(./fonts/Norse-Bold.otf) format('opentype');
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: row;
}

.background {
    background-image: url(plant.jpg);
    width: 40vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 20%;
    padding-left: 0vw;
    display: flex;
    flex-direction: row;
    font-size: large
}

.background .image-container p {
    font-family: 'NorseBold', sans-serif;
    font-size: 80px;
    text-align: center;
}

.image-container img {
    width: 10vw;
    padding-left: 5vw;
    opacity: 1;
}

a {
    color: #fff
}

footer {
    align-self: center;
    padding: 10px
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eaedf0;
    width: 100%
}

.form-header {
    padding: 50px;
}

label {
    position: relative;
    display: inline-block;
}

form {
    padding-left: 50px;
    padding-bottom: 20px;
    box-shadow: grey;
}

.form-row label {
    width: 100%
}

section {
    padding: 5px
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-right: 100px
}

.signup-form {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-color: #e5e7eb;
}

input:invalid {
    border: 2px solid red;
}

button {
    background-color: #596d48;
    color: #ffff;
    padding: 10px;
    font-size:large;
    border-radius: 10px;
    font:bolder;
    width: 200px;
}

.button {
    padding-top: 20px;
    padding-left: 55px
}

.already a {
    color:#596d48;
    font-weight: bold;
}

.already p {
    padding-left: 55px;
}